@model CafeApplication.Models.CustomerDto
@{
  ViewBag.Title = "Details";
}

<a href="/Customer/List">Back</a>
<a href="/Customer/Edit/@Model.CustomerID">Update</a>
<a href="/Customer/DeleteConfirm/@Model.CustomerID">Delete</a>
<h2>Detail</h2>
<div>@Model.CustomerID</div>
<h3>@Model.CustomerFName @Model.CustomerLName</h3>
<div>Gender: @Model.CustomerGender</div>
<div>Age: @Model.CustomerAge</div>
<div>Regular: @Model.isRegular</div>
<div>Favorite Item: @Model.ItemName</div>
