@model CafeApplication.Models.ViewModels.UpdateCustomer
@{
  ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form action="/Customer/Update/@Model.SelectedCustomer.CustomerID" method="POST">
  <div style="display:none;">
    @* Pass through the Customer ID *@
    <input type="text" name="CustomerID" value="@Model.SelectedCustomer.CustomerID" />
  </div>
  <div>
    <label>First Name:</label> <input type="text" name="CustomerFName" value="@Model.SelectedCustomer.CustomerFName" />
  </div>
  <div>
    <label>Last Name:</label> <input type="text" name="CustomerLName" value="@Model.SelectedCustomer.CustomerLName" />
  </div>
  <div>
    <label>Age:</label> <input type="number" name="CustomerAge" value="@Model.SelectedCustomer.CustomerAge" />
  </div>
  <div>
    <label>Gender:</label>
    <input type="radio" id="male" name="CustomerGender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="CustomerGender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="other" name="CustomerGender" value="Other">
    <label for="other">Other</label>
  </div>
  <div>
    <label>Is Regular?</label>
    <input type="radio" id="true" name="isRegular" value="True">
    <label for="male">Yes</label>
    <input type="radio" id="false" name="isRegular" value="False">
    <label for="false">No</label>
  </div>
  <div>
    <label>Favorite Item:</label>
    <select name="ItemID">
      @foreach (var item in Model.ItemOptions)
      {
        <option value="@item.ItemID">@item.ItemName</option>

      }
    </select>
  </div>
  @*<div style="display:none;">
    <label>Favorite Item:</label><input type="text" name="ItemName" value="@Model.ItemName" />
  </div>*@
  <div>
    <input type="submit" value="Edit Customer" />

  </div>
</form>

