@model CafeApplication.Models.ViewModels.DetailsCustomer
@{
  ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form action="/Customer/Update/@Model.SelectedCustomer.CustomerID" method="POST">
  <div>
    <label>First Name:</label> <input type="text" name="CustomerFName" value="@Model.SelectedCustomer.CustomerFName" />
  </div>
  <div>
    <label>Last Name:</label> <input type="text" name="CustomerLName" value="@Model.SelectedCustomer.CustomerLName" />
  </div>
  <div>
    <label>Age:</label> <input type="number" name="CustomerAge" value="@Model.SelectedCustomer.CustomerAge" />
  </div>
  <div>
    <label>Gender:</label>
    <input type="radio" id="male" name="CustomerGender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="CustomerGender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="other" name="CustomerGender" value="Other">
    <label for="other">Other</label>
  </div>
  <div>
    <label>Is Regular?</label>
    <input type="radio" id="true" name="isRegular" value="True">
    <label for="male">Yes</label>
    <input type="radio" id="false" name="isRegular" value="">
    <label for="false">No</label>
  </div>
  <div>
    <label>Favorite Item:</label>
    <select name="ItemID">
      @foreach (var item in Model.ItemOptions)
      {
        <option value="@item.ItemID">@item.ItemName</option>

      }
    </select>
  </div>
  <div>
    <input type="submit" value="Add Customer" />

  </div>
</form>

