@model CafeApplication.Models.ViewModels.ItemRelationship
@{
  ViewBag.Title = "Details";
}

<div class="row">
  <div class="col-sm-4"><a href="/Item/List">Back</a></div>
  <div class="col-sm-4"><a href="/Item/Edit/@Model.SelectedItem.ItemID">Update</a></div>
  <div class="col-sm-4"><a href="/Item/DeleteConfirm/@Model.SelectedItem.ItemID">Delete</a></div>
</div>
<h2>Details</h2>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h3>@Model.SelectedItem.ItemName</h3>
    <div>Price: @Model.SelectedItem.ItemPrice CAD</div>
    <div>Unit: @Model.SelectedItem.ItemUnit</div>
    <div>Calories: @Model.SelectedItem.ItemCalories cal</div>
    <div style="margin-top:100px;">
      <h4>Cutomers that have this as their favorite item</h4>
      @foreach (var customer in Model.RelatedCustomers)
      {
        <div><a href="/Customer/Details/@customer.CustomerID">@customer.CustomerFName @customer.CustomerLName</a></div>

      }
    </div>
    <div style="margin-top:100px;">
      <h4>Orders that have this item</h4>
      @foreach (var order in Model.RelatedOrders)
      {
        <div><a href="/Order/Details/@order.OrderID">Order number @order.OrderID</a></div>

      }
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    @{
      string imageurl = "/Content/Images/Items/default.jpg";
      if (Model.SelectedItem.ItemHasPic)
      {
        imageurl = "/Content/Images/Items/" + Model.SelectedItem.ItemID + "." + Model.SelectedItem.PicExtension;
      }
    }
    
    <div><img style="display:block; max-width:100%;" alt="@Model.SelectedItem.ItemName" src="@imageurl" /></div>
  </div>
</div>



