@model CafeApplication.Models.ViewModels.DetailsItem
@{
  ViewBag.Title = "Details";
}

<div class="row">
  <div class="col-sm-4"><a href="/Order/List">Back</a></div>
  <div class="col-sm-4"><a href="/Order/Edit/@Model.SelectedOrder.OrderID">Update</a></div>
  <div class="col-sm-4"><a href="/Order/DeleteConfirm/@Model.SelectedOrder.OrderID">Delete</a></div>
</div>

  <h2>Details</h2>
  <div>
    <h3>Order number: @Model.SelectedOrder.OrderID</h3>
    <div>Customer: @Model.SelectedOrder.CustomerFName @Model.SelectedOrder.CustomerLName</div>
    <div>Purchase on: @Model.SelectedOrder.OrderDate.ToString("dd-MM-yyyy")</div>
  </div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h4>Items in this order</h4>
    @foreach (var item in Model.RelatedItems)
    {
      <div>
        <a href="/Item/Details/@item.ItemID">@item.ItemName</a>
        <a style="text-decoration:none;" href="/Order/Unassociate/@Model.SelectedOrder.OrderID?ItemID=@item.ItemID">[x]</a>
      </div>

    }
  </div>
  <div class="col-md-6 col-sm-12">
    <div>
      <h4>Add an item to order @Model.SelectedOrder.OrderID</h4>
      <form method="POST" action="/Order/Associate/@Model.SelectedOrder.OrderID">
        <select name="ItemID">
          @foreach (var notordered in Model.ItemNotOrdered)
          {
            <option value="@notordered.ItemID">@notordered.ItemName </option>
          }

        </select>
        <input type="submit" value="Adding item" />
      </form>
    </div>

  </div>
</div>



